@{
    ViewBag.Title = "Home Page";
}

<div class="row row-offcanvas row-offcanvas-left">

  <div class="col-6 col-md-3 sidebar-offcanvas">
    <div>
      <div>
        <h4 class="list-group-item" data-toggle="collapse" data-target="#group-1">
          <i class="fa fa-fw fa-caret-down parent-expanded"></i>
          <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
          Styles
        </h4>
        <div id="group-1" class="collapse">
          <div class="form-check list-group-item">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">Option 1
            </label>
          </div>
          <div class="form-check list-group-item">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">Option 2
            </label>
          </div>
        </div>
      </div>
      <div>
        <h4 class="list-group-item" data-toggle="collapse" data-target="#group-2">
          <i class="fa fa-fw fa-caret-down parent-expanded"></i>
          <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
          Availability
        </h4>
        <div id="group-2" class="collapse">
          <div class="form-check list-group-item">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">Option 1
            </label>
          </div>
          <div class="form-check list-group-item">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">Option 2
            </label>
          </div>
        </div>
      </div>
      <div>
        <h4 class="list-group-item" data-toggle="collapse" data-target="#group-3">
          <i class="fa fa-fw fa-caret-down parent-expanded"></i>
          <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
          Glassware
        </h4>
        <div id="group-3" class="collapse">
          <div class="form-check list-group-item">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">Option 1
            </label>
          </div>
          <div class="form-check list-group-item">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">Option 2
            </label>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-12 col-md-9">

    <div class="row">
      <p class="float-left d-md-none">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>
    </div>
    <div class="row">
      <div class="col-lg-4 p-3 border">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="https://getbootstrap.com/docs/4.0/examples/offcanvas/#" role="button">View details »</a></p>
      </div><!--/span-->
      <div class="col-lg-4 p-3 border">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="https://getbootstrap.com/docs/4.0/examples/offcanvas/#" role="button">View details »</a></p>
      </div><!--/span-->
      <div class="col-lg-4 p-3 border">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="https://getbootstrap.com/docs/4.0/examples/offcanvas/#" role="button">View details »</a></p>
      </div><!--/span-->
      <div class="col-lg-4 p-3 border">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="https://getbootstrap.com/docs/4.0/examples/offcanvas/#" role="button">View details »</a></p>
      </div><!--/span-->
      <div class="col-lg-4 p-3 border">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="https://getbootstrap.com/docs/4.0/examples/offcanvas/#" role="button">View details »</a></p>
      </div><!--/span-->
      <div class="col-lg-4 p-3 border">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="https://getbootstrap.com/docs/4.0/examples/offcanvas/#" role="button">View details »</a></p>
      </div><!--/span-->
    </div><!--/row-->
  </div><!--/span-->
  <!--/span-->
</div><!--/row-->